<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="io.kanonair.controller"/>

    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <mvc:view-controller path="/index" view-name="index"/>
    <mvc:view-controller path="/main" view-name="main"/>
    <mvc:view-controller path="/admin" view-name="admin"/>
    <mvc:view-controller path="/svip" view-name="svip"/>
    <mvc:view-controller path="/vip" view-name="vip"/>
    <mvc:view-controller path="/403" view-name="403"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>