<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kanonair.mapper.UserMapper">

    <select id="list" resultType="user">
        select * from `user`
    </select>

    <select id="one" parameterType="Integer" resultType="user">
        select * from `user` where id = #{id}
    </select>

    <insert id="save" parameterType="user">
        insert into `user` values (null ,#{name},#{password},#{sex})
    </insert>

</mapper>
