<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--IOC/DI-->

    <bean id="person" class="io.kanonair.pojo.Person">
        <property name="id" value="1"/>
        <property name="name" value="Taylor"/>
        <property name="age" value="18"/>
        <property name="phone">
            <null/>
        </property>
        <property name="car" ref="car"/>
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <ref bean="car"/>
            </list>
        </property>
    </bean>
    <bean id="car" class="io.kanonair.pojo.Car">
        <property name="no" value="1"/>
        <property name="name" value="AA"/>
    </bean>

    <!--连接池-->

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="jdbcUrl" value="${url}"/>
        <property name="driverClassName" value="${driver}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--包扫描-->

    <context:component-scan base-package="io.kanonair.pojo">
        <!--排除-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
        <!--包含-->
        <!--<context:include-filter type="assignable" expression="io.kanonair.pojo.Book"/>-->
    </context:component-scan>
    <context:component-scan base-package="io.kanonair.service"/>
    <context:component-scan base-package="io.kanonair.aop"/>

    <!--AOP-->

    <aop:aspectj-autoproxy/>

    <!--&lt;!&ndash;目标对象&ndash;&gt;
    <bean id="bookService" class="io.kanonair.service.BookServiceImpl"/>
    &lt;!&ndash;切面对象&ndash;&gt;
    <bean id="demo" class="io.kanonair.aop.AopDemo"/>
    <aop:config>
        <aop:aspect id="aspect" ref="demo">
            <aop:around method="around" pointcut="execution(* io.kanonair.service.*.*(..))"/>
        </aop:aspect>
    </aop:config>-->

    <!--DAO-->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--    注解事物-->

    <tx:annotation-driven/>

    <!--    配置事物-->

    <!--    <tx:advice id="advice">-->
    <!--        <tx:attributes>-->
    <!--            <tx:method name="save*"/>-->
    <!--            <tx:method name="update*"/>-->
    <!--            <tx:method name="delete*"/>-->
    <!--            <tx:method name="*" read-only="true"/>-->
    <!--        </tx:attributes>-->
    <!--    </tx:advice>-->

    <!--    <aop:config>-->
    <!--        <aop:advisor advice-ref="advice" pointcut="execution(* io.kanonair.service.*.*(..))"/>-->
    <!--    </aop:config>-->

</beans>